<div class="blobs">
	<div class="blobs-animate-1">
		<svg
			width="749"
			height="695"
			viewBox="0 0 749 695"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M189.442 44.87C226.784 28.7491 265.356 -18.6636 300.572 7.9472C335.332 34.2143 353.349 107.448 357.509 171.871C361.314 230.811 322.393 275.831 321.695 335.115C320.83 408.62 383.482 492.242 353.122 544.46C321.654 598.584 268.64 506.451 223.977 503.186C198.401 501.316 175.889 526.608 150.351 529.636C112.496 534.123 69.6968 562.8 38.8495 525.131C8.45966 488.021 -5.68652 410.935 2.1114 348.614C9.81478 287.049 56.2253 266.983 77.577 215.621C93.3197 177.752 89.1404 121.431 109.425 90.4682C130.809 57.8274 161.616 56.883 189.442 44.87Z"
				fill="#ffa0aa"></path>
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M380.873 177.958C417.519 165.717 458.927 174.242 486.048 217.987C513.627 262.47 524.975 334.022 516.814 397.222C509.656 452.663 472.464 473.073 448.11 511.804C425.343 548.01 411.948 609.972 380.873 613.412C349.194 616.919 322.989 571.447 304.293 527.724C288.334 490.4 287.351 443.367 288.432 397.222C289.454 353.577 295.218 312.212 310.173 276.739C328.658 232.894 349.784 188.344 380.873 177.958Z"
				fill="#C06161"></path>
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M600.67 237.513C643.747 256.302 643.832 331.111 669.43 377.225C683.569 402.697 704.53 419.487 716.653 446.451C731.494 479.461 752.516 513.06 747.158 550.109C741.599 588.55 713.661 614.978 688.726 639.57C662.456 665.479 634.398 697.77 600.67 694.582C567.337 691.43 548.173 649.147 522.033 623.811C497.462 599.994 470.913 581.662 452.36 550.828C426.239 507.418 387.204 463.715 393.688 410.514C400.2 357.085 446.793 326.69 483.409 296.086C519.103 266.252 559.896 219.728 600.67 237.513Z"
				fill="#3D5BC5"></path>
		</svg>
	</div>

	<div class="blobs-animate-2">
		<svg
			width="749"
			height="695"
			viewBox="0 0 749 695"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M559.101 649.981C521.759 666.101 483.187 713.514 447.971 686.903C413.211 660.636 395.194 587.403 391.034 522.979C387.229 464.039 426.15 419.019 426.848 359.735C427.713 286.231 365.061 202.609 395.421 150.39C426.889 96.2666 479.903 188.4 524.566 191.665C550.142 193.535 572.654 168.242 598.192 165.215C636.047 160.728 678.846 132.051 709.693 169.72C740.083 206.83 754.229 283.916 746.432 346.237C738.728 407.802 692.318 427.867 670.966 479.229C655.223 517.099 659.403 573.42 639.118 604.382C617.734 637.023 586.927 637.968 559.101 649.981Z"
				fill="#FF8EED"></path>
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M367.67 516.892C331.024 529.134 289.616 520.609 262.495 476.863C234.916 432.381 223.568 360.828 231.729 297.629C238.887 242.187 276.079 221.778 300.433 183.047C323.2 146.84 336.595 84.8784 367.67 81.4383C399.349 77.9314 425.554 123.404 444.25 167.126C460.209 204.45 461.192 251.484 460.111 297.629C459.089 341.273 453.325 382.638 438.37 418.112C419.885 461.957 398.759 506.507 367.67 516.892Z"
				fill="#FFE791"></path>
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M147.873 457.338C104.796 438.548 104.711 363.739 79.1133 317.626C64.9736 292.154 44.0127 275.363 31.8897 248.399C17.0485 215.39 -3.97319 181.791 1.38457 144.742C6.9436 106.301 34.8815 79.8729 59.817 55.2807C86.0871 29.3721 114.145 -2.91983 147.873 0.268888C181.206 3.42022 200.37 45.7034 226.51 71.0401C251.081 94.8569 277.63 113.189 296.183 144.022C322.304 187.433 361.339 231.136 354.855 284.337C348.343 337.765 301.75 368.161 265.134 398.765C229.44 428.599 188.647 475.122 147.873 457.338Z"
				fill="#99B499"></path>
		</svg>
	</div>
</div>

<style lang="scss">
	.blobs {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		filter: blur(200px) opacity(0.7);
	}

	.blobs-animate-1 {
		position: absolute;
		width: fit-content;
		animation: move-abstract 6s linear infinite alternate;
		left: -350px;
		top: -450px;

		@media (min-width: 768px) {
			top: 200px;
			left: 200px;
			animation: move-abstract-lg 9s linear infinite alternate;
		}

		@media (prefers-reduced-motion) {
			animation: move-abstract 18s infinite linear alternate-reverse;
		}
	}

	.blobs-animate-2 {
		position: absolute;
		width: fit-content;
		animation: move-abstract 3s infinite linear alternate-reverse;
		mix-blend-mode: overlay;
		left: -150px;
		top: 200px;

		@media (min-width: 768px) {
			top: 400px;
			left: 50%;
			animation: move-abstract-lg 16s infinite linear alternate-reverse;
		}

		@media (prefers-reduced-motion) {
			animation: move-abstract 16s infinite linear alternate-reverse;
		}
	}

	@keyframes move-abstract {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(20%, 50%, 0);
  }
}

@media (min-width: 768px) {
  @keyframes move-abstract {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(30%, 80%, 0);
    }
  }
}

	@keyframes move-abstract-lg {
		0% {
			transform: translate3d(0, 0, 0);
		}
		100% {
			transform: translate3d(30%, 80%, 0);
		}
	}
</style>
