---
export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---
<div class="flex flex-col sm:max-w-[768px]">
	<h2 class="text-dsm font-bold">{title}</h2>
	<p class="text-md">{description}</p>
</div>
