---
import Icon from "./Icon.astro";
---

<div class="flex gap-x-6 mt-4">
	<a aria-label="Vist my LinkedIn Profile" href="https://www.linkedin.com/in/bradyblair20/" target="_blank" rel="noopener noreferrer">
		<Icon icon="linkedin" />
	</a>

	<a aria-label="Vist my GitHub Profile" href="https://github.com/babs20/" target="_blank" rel="noopener noreferrer">
		<Icon icon="github" />
	</a>

	<a aria-label="Send me an Email" href="mailto:bradyblair20@gmail.com?subject=Website%20Inquiry">
		<Icon icon="mail" />
	</a>
</div>
