---
import Icon from "./Icon.astro";
export interface Props {
  title: string;
  description: string;
  icon: string;
}

const { title, description, icon } = Astro.props;
---

<div class="flex flex-col items-center max-w-sm sm:max-w-none">
  <div
    class="flex items-center justify-center w-12 h-12 border-4 rounded-full border-gray-50 bg-yellow-100"
  >
    <Icon icon={icon} />
  </div>

  <h3 class="font-bold text-xl mt-3 text-center">{title}</h3>

  <p class="text-center mt-1">{description}</p>
</div>
