---
import Blobs from "../components/Blobs.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "@fontsource-variable/inter";
import "@fontsource-variable/roboto-mono";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Personal Portfolio for Brady Blair | Full Stack Web Engineer"
    />
    <title>{title}</title>
    <meta
      property="og:title"
      content="Personal Portfolio for Brady Blair | Full Stack Web Engineer"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.bradyblair.com" />
    <meta property="og:image" content="/brady-meta.png" />
  </head>
  <body
    class="bg-bg text-white px-4 py-10 lg:px-0 sm:max-w-screen-lg sm:mx-auto antialiased overflow-x-hidden"
  >
    <Blobs />
    <Header />
    <slot />
    <Footer />
  </body>
</html>
